*{
  margin: 0;
  /*box sizing es una propiedad que evita que no aumenta el tamaño en los pixeles si le aumentas border o padding, mantiene como un standar reduce las distancias internas
  
  El valor border-box en el box sizing hace que el padding y el border pasen a formar parte del calculo del ancho de la caja y no se suma posteriormente
  
  */
  box-sizing: border-box;
}

/*
La pseudo clase :root de Css selecciona el elemento raiz de un arbol que representa un documento en HTML :root representa el elemento <html> y es identico al selector html, excepto que su especificidad es mayor.
*/

:root {

  /*
  Nos permite controlar el comportamiento del scrooll smooth de un efecto de lentitud al bajar
  */
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  /*Todo lo que salga del contenedor se oculte*/
  overflow: hidden;
  /*Se centraran los elementos*/
  margin: auto;
  padding: 60px 0px;
}
/*A la etiqueta*/
header {
  height: 50vw;
  /*imagen de fondo*/

  /*
  Ir a https://webgradients.com y copiar 002 Night Fade, cambiar a rgb, colocando el puntero en el color y luego en el cuadro presionar el cuadro superior izquierdo.
  El ultimo valor del rgb es la transparencia.
  */
  /*la url coloca una imagen debajo de la transparencia*/

  background-image: linear-gradient(to top, rgb(161, 140, 209, 0.5) 0%, rgb(251, 194, 235, 0.5) 100%),url(../img/woman.jpg);
  /*para que la imagen no se repita los dos de abajo escalan la imagen*/
  background-repeat: no-repeat;
  /*Escala la imagen al mayor tamaño posible sin estirarla. Si las proporciones de la imagen difieren de las del elemento, es recortada verticalmente u horizontalmente para que no quede un espacio vacio*/
  background-size: cover;
  /*Determina si la posicion de la imagen de fondo sera fija dentro de la pantalla o se desplaza con su bloque contenedor, si es fixed la imagen de fondo estara fija en la pantalla y no se movera con el bloque contenedor  (s puede poner scroll es mio)*/
  background-attachment: fixed;
  /*Centra la posicion de la imagen*/
  background-position: center;
}

.head {
  padding: 10%;
  text-align: center;
  color: #fff;
}

.hamburger {
  /*Que este fijo en la pagina*/
  position: fixed;
  top: 30px;
  right: 30px;
  background: #fff;
  text-align: center;
  line-height: 25px;
  width: 28px;
  height: 28px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion {
  /*Que este fijo en la pagina*/
  position: fixed;
  top: 0px;
  right: 0px;
  width: 30vw;
  height: 100%;
  /*Ir a https://webgradients.com y copiar 028 Plum Plate*/
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  /*Centrar el texto*/
  padding: 13%;
  text-align: center;
  /*Con esto se desaparece el costado azul*/

  /*transition es de efecto*/
  transition: transform .3s ease-in-out;
  transform: translate(100%);
}


.spread {
  /*Cuando se da click al boton el tyranslate sera 0, aparecera nuevamente el elemento*/
  transform: translate(0);
}

.menu-navegacion a {
  color:#fff;
  /*Quita el subrayado de los hipervinculos*/
  text-decoration: none;


}

.titulo {
  font-size: 60px;
  margin-bottom: 15px;
}

.subtitulo {
  text-align: center;
  /*Intensidad de negrita*/
  font-weight: 300;
  color: #9f8ad0;
  margin-bottom: 40px;
  font-size: 40px;
}

.contenedor-servicio img {
  width: 40%;
  float: left;
  margin-right: 50px;

}

.checklist-servicio {
  width: 55%;
  margin: auto;
}

.service {
  margin-bottom: 20px;

}

.n-service {
  margin-bottom: 7px;
  color: #9f8ad0;
}

.number {
  /*Permite establecer el ancho y alto de un elemento*/
  display: inline-block;
  /*Ir a https://webgradients.com y copiar 002 Night Fade*/
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  width: 30px;
  height: 30px;
  color: #fff;
  text-align: center;
  border-radius: 50px;
  /*intensidad de la negrita*/
  font-weight: 700px;
  /*Establece la altura basada por lineas*/
  line-height: 30px;
  margin-right: 5px;
}

.gallery {
  background: #f2f2f2;
}

.img-galeria {
  /*Indica como el contenido de un elemento reemplazado, por ejemplo un <img> o <video>, deberia redimensionarse para ajustarse en su contenedor.
  cover: El contenido reemplazado se dimensiona para mantener su relacion de aspecto mientras llena el cuadro de contenido completo del elemento, Si la relacion de aspecto del objeto no coincide con la relacion de aspecto de su caja, entonces el objeto se recortara para que se ajuste*/
  object-fit: cover;
  width: 30%;
  margin-bottom: 15px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.imagen-light {
  /*Posicion fija*/
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  transform: translate(100%);
  transition: transform .2s ease-in-out;
}

.show {
  /*Sirve para mostrar la imagen*/
  transform: translate(0);
}

.agregar-imagen {
  object-fit: cover;
  width: 60%;
  border-radius: 10px;
  margin-left: 20%;
  margin-top: 3%;
  transform: scale(0);
  transition: transform .3s .2s ease-in-out;
}

.showImage {
  /*Ocultar imagen*/
  transform: scale(1);
}



/*Esto es de la X*/
.close {
  /*La posicion es absoluto a su ancestro*/
  position:absolute;
  top: 15px;
  right: 15px;
  cursor:pointer;
  color: #fff;
}

/*Imagenes de abajo centrado*/
.cont-expert {
  width: 30%;
  float: left;
  text-align: center;
  margin-bottom: 20px;
  
}

.cont-expert img {
  width: 80%;
  /*Display block hace que el comportamiento del elemento sea como un bloque*/
  display: block;
  margin: 0 auto;

}

.n-expert {
  /*Permite establecer el ancho y alto de un elemento*/
  display: inline-block;
  margin-top: 20px;
  /*Se acomoda 100% al contenedor*/
  width: 100%;
  font-weight: 400px;
}

/*Footer*/

footer {
  background: #9f8ad0;
  padding-bottom: 0.1px;
}

.footer-content {
  padding-top: 60px;
  padding-bottom: 40px;
}

.contact-us {
  width: 40%;
  color: #fff;
  float: left;
}

.brand {
  font-weight: 500px;
  font-size: 40px;
}

.brand p {
  font-weight: 500px;

}

.social-media {
  margin-left: 50%;
}

.social-media-icon {
  display: inline-block;
  /*Separa los iconos*/
  margin-left: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

/*Hover cuando se pasa el puntero del mouse sobre el elemento*/
.social-media-icon:hover {
  background: #fff;
  color: #764ba2;
}

.social-media-icon i {
  font-size: 30px;
  /*Establece la altura basada por lineas*/
  line-height: 60px;
}

.line {
  width: 90%;
  /*Controla el tamaño maximo creo :v*/
  max-width: 1200px;
  margin: 0 auto;
  height: 2px;
  background: #fff;
  margin-bottom: 60px;
}

/*Ahora hacemos el diseño responsivo*/

/*Para 768px de ancho tamaño de una tablet*/

@media screen and (max-width: 768px){
  .menu-navegacion {
    width: 50vw;
  }

  .titulo {
    font-size: 40px;
  }
  .contenedor-servicio img{
    width: 80%;
    margin-bottom: 40px;
  }

  .checklist-servicio {
    width: 80%;
  }

  .service {
    margin-bottom: 30px;
  }

  .agregar-imagen {
    width: 80%;
    margin-top: 27%;
    margin-left: 10%;
  }

  .img-galeria {
    width: 45%;
  }

  .cont-expert {
    width: 80%;
  }

  .social-media {
    width: 80%;
    text-align: center;
    margin: auto;
  }

  .contact-us {
    text-align: center;
    /*Anula el float*/
    float: none;
    margin: auto;
  }
}

/*Para 420px de ancho tamaño de un smartphone*/

@media screen and (max-width: 420px) {
  .menu-navegacion {
    width: 65vw;
  }

  /*
  .agregar-imagen {
    width: 95%;
    display: block;
    margin: 95% auto;
  }*/
  
  .header {
    height: 280vw;
  }

  .titulo {
    font-size: 30px;
  }

  .hamburger {
    top: 20px;
    right: 20px;
  }

  .subtitulo {
    font-size: 30px;
  }

  .img-galeria {
    width: 95%;
  }

  .social-media {
    width: 100%;
    padding-top: 10px;
  }

  .social-media-icon {
    margin-left: 0px;
  }

  .contact-us {
    width: 80px;
  }
  
}